<<<<<<< Updated upstream
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 1rem;
    color: #192A3E;
}

h2 {
    font-size: 0.9rem;
}

img {
    border-radius: 100px;
}

.main-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #E5E5E5;
}

ul {
    list-style: none;
}

.sidebar {
    width: 17.5%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    background-color: #FFFFFF;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar:hover {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
    transition: 0.5s;
}

.side-title {
    height: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: #109CF1;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    display: flex;
    padding-left: 15%;
    align-items: center;
}

.side-nav {
    height: 95%;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
}

.side-profile {
    font-size: 0.7rem;
    margin: 15% 15% 15% 10%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.side-profile img {
    align-self: center;
    width: 50px;
    height: 50px;
}

.side-options {
    height: auto;
    letter-spacing: 0.01em;
}

.side-options li {
    margin: 10% 0 10% 0;
}

.side-options a {
    font-size: 0.8rem;
    color: #334D6E;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.side-options a:hover {
    color: #109CF1;
}

.side-options .link-dashboard {
    color: #109CF1;
}

.side-options img {
    padding: 0 5% 0 15%;
    width: 30%;
}

.side-options p {
    font-size: 0.8rem;
}

.side-footer {
    height: 100%;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-footer a {
    padding: 10% 0 10% 0;
    font-size: 0.8rem;
    color: #334D6E;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.side-footer button {
    padding: 10% 0 10% 0;
    font-size: 0.7rem;
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.side-footer button img {
    padding: 0 5% 0 15%;
    width: 30%;
}

.side-footer img {
    padding: 0 5% 0 15%;
    width: 30%;
}

.side-footer a:hover {
    color: #109CF1;
}

.side-footer button:hover {
    color: #109CF1;
}

.content-wrapper {
    width: 85%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.searchbar {
    padding: 0 2.5% 0 2.5%;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    font-size: 0.75rem;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    transition: 0.5s;
}

.searchbar button {
    height: 100%;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    font-size: 0.75rem;
    padding-left: 2.5%;
    background: none;
    border: none;
    height: 100%;
    width: 100%;
}

.ellipse {
    position: relative;
    bottom: 5%;
    right: 35%;
}

.searchbar:hover {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
    transition: 0.5s;
}

.content {
    width: 100%;
    height: 95%;
    padding: 2.5%;
    display: grid;
    row-gap: 2.5%;
    column-gap: 2.5%;
    grid-template-columns: 29fr 20fr;
    grid-template-rows: 1fr 1fr;
    overflow: scroll;
}

.box {
    height: 100%;
    padding: 5%;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    transition: 0.5s;
}

.box:hover {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
    transition: 0.5s;
}

.tasks {
    grid-row: span 2;
    position: relative;
    overflow: hidden;
}

progress {
    margin: 3.75% 0 3.75% 0;
    border-radius: 3px;
    width: 100%;
    height: 4px;
}

.calendar {
    font-size: 0.75rem;
    color: #4C5862;
    margin: 3.75% 0 3.75% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.days {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

.days:hover {
    color: #109CF1;
    transition: 0.5s;
}

.days p {
    padding: 15% 25% 15% 25%;
}

.day1 {
    color: #EBEFF2;
    background-color: #109CF1;
    border-radius: 100%;
}

progress::-webkit-progress-bar {
    background-color: #EBEFF2;
    border-radius: 3px;
}

progress::-webkit-progress-value {
    background-color: #2ED47A;
    border-radius: 3px;
}

.cards {
    margin: 3.75% 0 3.75% 0;
    padding: 5%;
    min-height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    transition: 0.5s;
}

.cards:hover {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
    transition: 0.5s;
}

.cards-contents {
    font-size: 0.75rem;
    color: #90A0B7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-contents h1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.due-date {
    font-size: 13px;
    display: flex;
}

.due-date-text {
    opacity: 0.5;
    margin-right: 1%;
}

.cards-profiles {
    width: 60%;
    font-size: 0.8rem;
    color: #707683;
    display: flex;
    justify-content: left;
    align-items: center;
}

.cards-profiles img {
    margin-right: 5%;
}

.cards-editor {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-editor button {
    padding: 5%;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.cards-status {
    min-width: 60%;
    padding: 2%;
    border-radius: 4px;
    background: #2ED47A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-status p {
    font-size: 0.7rem;
    color: #FFFFFF;
}

.cards-ended {
    background-color: #F7685B;
}

.cards-editor .button-ended {
    visibility: visible;
    color: #C2CFE0;
}

.area-showmore {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: ;
    z-index: 1;
}

.showmore {
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    border: none;
    color: #109CF1;
    font-weight: 600;
    font-size: 0.8rem;
}

.box-title {
    height: 7.5%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.box-title-visable {
    font-size: 0.8rem;
    height: auto;
}

.box-select {
    font-size: 0.75rem;
    color: #6A707E;
    display: flex;
    align-items: center;
}

.box-select select {
    border: none;
    color: #109CF1;
}

.box img {
    max-width: 100%;
    align-self: center;
}

.content ul {
    list-style: circle;
}

.charts-vertical {
    height: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.charts-vertical ul {
    height: 10%;
    font-size: 0.6rem;
    align-self: flex-start;
    color: #109CF1;
}

span {
    color: #192A3E;
}

.graphic-lines {
    min-height: 70%;
    font-size: 0.75rem;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 4fr;
}

.graphic-lines-chart {
    grid-column: span 4;
    grid-row: span 5;
    display: flex;
}

.graphic-lines-chart img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.tasks-chart {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.charts-horizontal {
    height: 100%;
    width: 100%;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.charts-horizontal img {
    max-width: 70%;
    object-fit: fill;
}

.charts-horizontal ul {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.6rem;
    margin: 0 10% 0 10%;
}

.li-active {
    color: #FFB946;
}

.li-completed {
    color: #2ED47A;
}

.li-ended {
    color: #F7685B;
}

.divider {
    height: 1px;
    background-color: #EBEFF2;
    margin: 3.75% -5% 3.75% -5%;
}

@media (max-width:480px) {
    .content-wrapper {
        width: 100%;
    }

    .sidebar {
        display: none;
    }

    .content {
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        overflow: auto;
        padding: 0;
        row-gap: 0;
        column-gap: 0;
    }

    .tasks {
        box-shadow: none;
        padding-bottom: 0%;
    }

    .tasks:hover {
        box-shadow: none;
    }

    .cards {
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
    }

    .cards:hover {
        box-shadow: none;
    }

    .area-showmore {
        display: none;
    }

    .box {
        margin: 0;
    }

    .box-title {
        visibility: hidden;
    }

    .box-title-visable {
        visibility: visible;
    }

    .main-wrapper {
        background-color: #FFFFFF;
    }

    .calendar {
        visibility: hidden;
        height: 0;
    }

    .charts-horizontal {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .charts-horizontal ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
        margin: 10% 0 10% 0;
    }
=======
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    color: #373A3C;
}

.error-limit {
    border: 1px solid #EBCCCC;
    background-color: #F2DEDE;
    color: #A94442;
    border-radius: 4px;
    font-size: 0.8rem;
    visibility: hidden;
}

.loaders {
    height: 3vh;
    width: 3vh;
    display: none;
}

.loader {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid black;
    border-top-color: ghostwhite;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
>>>>>>> Stashed changes
}